body {
  background-color: #fff;
  color: #333;
  font-family: "SF Pro JP","SF Pro Text","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -.021em;
  margin: 1rem;
  min-width: 320px;
}
